@charset "utf-8";
/* CSS Document */
body {
	font-size: 14px !important;
}
*{
	margin:0;
	padding:0;
}

.no-list-style{
	list-style:none;
}
/* for bootstrap horizontal menu  */
.margin_botton_30{
	margin-bottom: 30px;
}
.w100{
	width: 100%;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin:0px auto;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
	text-transform:uppercase;
	font-size:14px;
	margin-left:-8px;
	font-weight:bold;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#67B5D4;
}
.navbar-default .navbar-nav>li>a:focus{
	color:#000;
}
.top-menu{
	display:none;
}
.slider_img{
	width:auto;
	height:135px;
}
#top-page {
    width: 100%;
    height: 77px;
}
.header{
	margin-top:10px;
}
.logo{
	width:120px;
}
.login{
	font-family:"Eras Demi ITC";
	font-weight:bold;
	font-size:18px;
	margin-right:80px;
}
.header-right{
	margin-top:8px;
}
.hr-bar{
	width:100%;
	height:3px;
}
.footer-text p{
	margin-top:7px;
}
.find-bar {
    margin-top: 15%;
    text-align: center;
}

.device-bg{
	width:100%;
	height:350px;
	background-color:#9e9e9e;
	background-attachment:fixed;
}
.device-img{
	height:auto;
	width:100%;
	margin-top:53px;
}

/* Category Icon */
#CategoryIcon{
	height:500px;
	width:auto;
	margin-top:10%;
}
.catagory-icon{
	margin-top:20px;
}
.catagory-icon h1 {
    text-align: center;
    font-size: 50px;
    margin: 20px;
}
.catagory-icon p{
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
	color:gray;
}
.Cicon{
	text-align:center;
	margin:20px 10px;
}
.Cicon a{
	text-decoration:none;
}
.Cicon img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.Cicon img:hover{
	-webkit-filter: grayscale(0%);
	filter:grayscale(0%);
}

/*for forth page*/
#forth-page{
	clear:both;
	margin-bottom:25px;
}
.card-deposit h1{
	font-size:50px;
	color:#3390b6;
	font-family:SaintAndrewsQueen;
}
.card-deposit p{
	color:#000;
	text-align:justify;
	font-family:Kalpurush Regular;
}
.see-more{
	font-family:SaintAndrewsQueen;
	color:#3390b6;
	font-weight:bolder;
}
.btn-aplly{
	float:right;
	margin-bottom:10px;
}
@font-face {
    font-family: SaintAndrewsQueen;
	src:url(../fonts/SaintAndrewsQueen.ttf);
}
/*for slider*/
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 0;
    background-color: #9a9a9b;
}
.carousel-indicators {
    bottom: -60px;
}
.carousel-indicators li{
	background-color:#cdcece;
	width:15px;
	height: 15px;
	border-radius:25px;
}
.carousel-inner>.item img{
	margin-left:auto; 
	margin-right: auto;
	float: none;
}
.remittance{
	font-size:30px;
}
.rem-readmore{
	float:right;
	margin-right:180px;
}
.rem-readmore a{
	text-decoration:none;
}

/*for card page*/
.card_right_bar {
    background-color: #F9F9F9;
    padding: 15px 15px;
    margin-bottom: 15px;
    clear: both;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
}
.card_right_bar:hover {
    box-shadow: 0px 0px 9px 3px #f2f2f2;
}
.w20{
	width:20% !important;
}

.card_text2 p {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
	margin: 0;
}

.card_description{
	font-size:12px;
}

.cc_menu{
	background-image:url(../images/cc_menu_bg.png);
}
.query_radio{
	margin-left:14px;
}
.btnCardApply{
	margin-left:9px;
	margin-top:8px;
}
.card_text1{
	margin-top:6px;
}
.card_text2 {
    margin-top: 6px;
    position: relative;
    min-height: 80px;
}
.card_text2 h5{
	font-weight:bold;
	font-size: 12px;
}
.more_info_icon{
	margin-top:20px;
	font-size:14px;
}
.more_info_icon a{
	text-decoration:none;
}
.more_info_icon i{
	color:#2c8aca;
}
#tab{
	margin-bottom:20px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-bottom:1px solid #5AAFD1;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs>li>a{
    border-radius:0;
}
.card_more_info {
    background-color: #FBFBFB;
    margin-bottom: 20px;
    margin-top: -14px;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
}
.tab-content{
	margin-top:10px;
}
.tab_body{
	margin-left:20px;
}
.tab-pane h3{
	margin-left:30px;
}
.tab_td_text{
	margin: 10px 0 0 5px;
}
.tab_body_icon li{
    list-style:circle url("../images/Icon-For-Credit-Card 2.2.png");
}
.tab_body_icon2 li{
    list-style:circle url("../images/Icon-For-Credit-Card2.png");
    list-style-position:initial;
}
.more_filter{
	border:1px solid #ececec;
	text-align:center;
}
.more_filter a{
	text-decoration:none;
}
.more_filter p{
	margin-top:10px;
}
.card_btn_apllication{
	margin:56px 24px;
}
.rating{
	font-size:12px;
}

/* for custome radio & checkbox */
.material_check_radio {
    width: 15px;
    height: 15px;
    background-color: #fff;
}
.material_check_radio:after {
   width: 5px;
    height: 5px;
    left: 3px;
    top: 3px;
}
.material_radio_group {
    cursor: pointer;
    font-size: 12px !important;
}
.material_label_checkbox:before {
    width: 22px;
    height: 22px;
	font-size:12px;
}
.material_label_checkbox{
	font-size:12px;
	font-weight: 100;
	line-height: 14px;
}
/* for Card Compare Page */
.card_compare_head{
	font-family:SaintAndrewsQueen;
	font-size:60px;
}
.compare_btnApplication{
	margin-left:39px;
}
.compare_btnApplication1{
	margin-left: 35px;
    margin-top: 121px;

}
.Card-Compare-hr{
	height:2px;
	width: 43%;
}
.Card-Compare-hr1{
	width: 44.7%;
}
.Card-Compare-hr2{
	width: 42%;
}

.Card-Compare-hr3{
	width: 45%;
}
.Card-Compare-hr4{
	width: 42.8%;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none !important;
}

.comparison_email{
	width: 33.33333333%;
	height:auto;
	margin: 0px auto;
}

/* for Card Details Page */
 .card_details_head{
	 height:auto;
	 width:100%;
	 background-color:#DEDDDD;
	 color:#000;
	 text-align:center;
	 border-bottom:2px solid #9D9A9A;
	 margin-bottom:10px;
	 font-size:11px;
	 padding-top:3px;
	 font-weight:bold;
 }
 .card_details_ImgCard{
	 width:165px;
	 height:auto;
 }
 .card_details_features{
	 font-size:11px;
	 text-align:justify;
 }
 .card_details_Btransfer{
	 text-align:center;
 }
 .card_details_head2{
	 font-size:12px;
	 font-weight:bold;
 }
 .add_comp_icon{
	margin-top:20px;
	font-size:15px;
}
.add_comp_icon a{
	text-decoration:none;
}
.add_comp_icon i{
	color:#2c8aca;
}
#card_details_2nd{
	margin-top:40px;
}
.card_details_pronsCons{
	background-color:#F2F2F3;
	padding:10px;
	margin-top:50px;
	border-bottom:2px solid #C1C1C0;
}
.card_details_pronsCons_head{
	margin-left:18px;
}
.prosCons_body{
	margin-left:20px;
}
.prosCons_body b{
	font-size:15px;
}
.prosCons_body2{
	margin-left:20px;
}
.prosCons_body2 ul li{
	font-size:12px;
	margin-bottom:10px;
}
.prosConsHr{
	height:2px;
	width:auto;
	background-color:#C1C1C0;
	margin:5px 0;
}
.userReview_body{
	text-align:center;
}
.userReviewLeft1{
	font-size:46px;
}
.userReviewLeft2{
	font-size:22px;
	color:#999999;
}
.userReviewLeft3{
	font-size:12px;
	color:#999999;
	text-decoration:underline;
}
.userreviw_note{
	font-size:12px;
	color:#999999;
}
.prosCons_body ul li {
    list-style-type: none;
}
.prosCons_body ol, ul {
   padding-left:30px;
}
.w20{
	width:20% !important;
}

.card_text2 p {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
	margin: 0;
}

.card_description{
	font-size:12px;
}

.cc_menu{
	background-image:url(../images/cc_menu_bg.png);
}
.query_radio{
	margin-left:14px;
}
.btnCardApply{
	margin-left:9px;
	margin-top:8px;
}
.card_text1{
	margin-top:6px;
}
.card_text2 {
    margin-top: 6px;
    position: relative;
    min-height: 80px;
}
.card_text2 h5{
	font-weight:bold;
	font-size: 12px;
}
.more_info_icon{
	margin-top:20px;
	font-size:14px;
}
.more_info_icon a{
	text-decoration:none;
}
.more_info_icon i{
	color:#2c8aca;
}
#tab{
	margin-bottom:20px;
}

.tab-content{
	margin-top:10px;
}
.tab_body{
	margin-left:20px;
}
.tab-pane h3{
	margin-left:30px;
}
.tab_td_text{
	margin: 10px 0 0 5px;
}
.more_filter{
	border:1px solid #ececec;
	text-align:center;
}
.more_filter a{
	text-decoration:none;
}
.more_filter p{
	margin-top:10px;
}
.card_btn_apllication{
	margin:56px 24px;
}
.rating{
	font-size:12px;
}

.prosCons_body2 table {
    width: 100% !important;
}


/*Compare section starts*/
.hiden_div {
    height: 130px;
    width: 100%;
    border-radius: 0;
    background-color: #EAEAEC;
}
.cart_anchor {
    float: left;
    vertical-align: top;
    background: url('../images/card-frame.png') no-repeat center center / 100% auto;
    width: 173px;
    height: 110px;
    margin: 10px;
    position:relative;
}
.cart_anchor01 {
    float: left;
    vertical-align: top;
    background: url('../images/card-frame.png') no-repeat center center / 100% auto;
    width: 173px;
    height: 110px;
    margin: 10px;
    position:relative;
}

.card-holder {
    background-color: rgb(93, 93, 94);
    padding: 0px;
    border-radius: 0px;
    height: 130px;
    width: 100%;
	border-radius: 17px;
}
.common-btn.v-middle-btn {
    background-color: #F9F9F9;
    border-radius: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 32px;
    vertical-align: middle;
    margin: auto;
    font-weight: 600;
}

.hidden_div {
    height: 130px;
    width: 100%;
    border-radius: 0;
    background-image: url('../images/card-holder.png');
    background-repeat: no-repeat;
}
.hidden_div_container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    float: none;
    display: block;
    width: 600px;
}
.compare-cross-btn {
    height: 20px;
    position: absolute;
    right: -5px;
    top: -5px;
    cursor:pointer;
}
#hiden_div {
	position: fixed;
	z-index: 999;
	right: 0;
	width: 100%;
}
.hiddenDown{
    bottom: -158px;
}
.hiddenHalfDown{
    bottom:-68px ;
}
/*Compare section end*/
/*hidden div*/


/* for Card Compare Page====Saddam Start===== */
.card_compare_head{
	font-family:SaintAndrewsQueen;
	font-size:60px;
}
.compare_btnApplication{
	margin-left:39px;
}
.compare_btnApplication1{
	margin-left: 35px;
	margin-top: 121px;

}
.Card-Compare-hr{
	height:2px;
	width: 43%;
}
.Card-Compare-hr1{
	width: 44.7%;
}
.Card-Compare-hr2{
	width: 42%;
}

.Card-Compare-hr3{
	width: 45.7%;
}
.Card-Compare-hr4{
	width: 42.8%;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: none !important;
}
.comparison_email{
	width: 33.33333333%;
	height:auto;
	margin: 0px auto;
}

.compare_image{
    width:250px;
    height: auto;
}
/*------Card compare Saddam End----------*/


/*New edited for hidden div*/

.full-card:last-child {
	margin-bottom: 140px;
}

/*for home loan */
.home_loan_img{
    float:right;
}
.full-wrapper{
    border:1px solid gray;
}
.home_loan_left_bar{
    border:2px solid #DADADA;
}
.home_loan_left_bar p{
    border-bottom:1px solid #DADADA;
    background-color:#DADADA;
    padding-left:8px;
}
.no-margin-lr2 {
    margin-right: 0 !important;
}
.home_loan_right_bar {
    padding: 11px 0 0 0;
    margin-bottom: 15px;
    clear: both;
    border: 2px solid #DADADA;
}
.loan_query{
    padding:6px;
    margin-bottom: 14px;
}
.Hloan_more_icon{
    margin:10px;
}
.home_loan_more_info{
    text-align:center;
    font-size:12px;
}
.Hlborder{
    border-right:2px solid #DADADA;
}
.home_loan_more_info h3{
    color:gray;
}
.home_loan_button{
    /* border-bottom:2px solid #DADADA; */
    padding-bottom:10px;
}
.panel {
    margin-bottom: 0px;
    background-color: none;
    /* border:none;  */
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.pietd{
    border-top:1px solid #DADADA;
}
.loan_div{
    height:10px;
    width:10px;
    border-radius:50%;
    border:1px solid gray;
}
/* for home loan slider */
.wrapper{
    margin-bottom:10px;
}
.wrapper p{
    margin-left:10px;
}
.slider-box {
    height: 60px;
    width: 515px;
    margin: 0 auto;
    float: none;
    background-color: #f3f3f3;
    position: relative;
}
.slider-rangebar {
    height: 10px;
    width: 465px;
    margin: 24px auto;
    float: none;
    border: 1px solid #aaaaaa;
    background: #ffffff;
    color: #222222;
    border-radius: 4px;
    position: absolute;
    margin-left: 30px;
}
#slider-button {
    height: 14px;
    width: 14px;
    margin: -3px auto;
    float: none;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    margin-left: 0px;
    background-color: #c2c2c2;
    position: absolute;
    cursor: pointer;
}
.slider-range-list {
    width: 458px;
    overflow: hidden;
    position: absolute;
    height: 30px;
    bottom: 0;
    margin-left: 27px;
}
.slider-range {
    list-style: none;
    width: 2500px;
    overflow: hidden;
    position: absolute;
    bottom: -10px;
    left: 0px;
    padding-left: 0;
}
.slider-range li{
    display: inline;
    width: auto;
    margin-right: 10px;
}
.prev, .next {
    width: 15px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
}
.prev {
    left: 15px;
    top: 12px;
}
.next {
    right: 0;
    top: 11px;
}
/* for home loan grap table */
.pric_table {
    width: 100%;
    border-collapse: collapse;
    margin:50px auto;
}
.pric_table th {
    background: #3498db;
    color: white;
    font-weight: bold;
}
.pric_table td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}
.labels tr td {
    background-color: #2cc16a;
    font-weight: bold;
    color: #fff;
}
.label tr td label {
    display: block;
}
[data-toggle="toggle"] {
    display: none;
}
/* for home loan emi cal */
.Hloan_emi_cal{
    border:1px solid #E2DBDB;
    margin:5px;
    padding:5px;
    border-radius:14px;
}
.loan_input {
    margin: 5px;
    height: 26px;
    width: 110px;
    border-radius:5px;
}
#chart1{
    width:100%;
}
/* for home loan compare page */
.compare_table td {
    width: 33%;
}
.home-loan-Compare-hr1{
    width:43.5%;
}
.home-loan-Compare-hr3{
    width:45.3%;
}
.home-loan-Compare-hr4{
    width: 39.5%;
}
.loan-iframe{
    width:100%;
    height:auto;
    overflow:hidden;
}
.card_query{
    border-bottom: 2px solid #DADADA;
}
.calborder {
    width: 246px;
    border-bottom: 2px solid #DADADA;
}
.monthWrap .calborder {
    width: 244px;
}
.quest {
    font-size: 14px;
}
#alreadySaved .inputWrapper {
    margin: 0 0 5px 0;
}
#avgSave .inputWrapper {
    margin: -4px 0 0 8px;
}
#tenureType label {
    font-size: 16px;
    margin-top: 4px;
}
.slideWrapper {
    padding: 15px 20px 0 20px;
}
#interest .inputWrapper {
    margin: -3px 0 0 10px;
}
.calcSection {
    padding: 8px 0 0px 20px;
}
.btnHomeLoan {
    margin-top: 79px;
}

/* for credit card page */
#creditCard_header{
    background-image:url(../images/CreaditCardmainpage.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:300px;
}
/* for debit card */
#debitCard_header{
    background-image:url(../images/Debit-Card-Main-Page-Banner.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:300px;
}
/*for home loan */
#home_header{
    background-image:url(../images/HomeLoanMainPageBackground1680x320.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:300px;
}
/* for personal loan */
#personal_header{
    background-image:url(../images/PersonalLoanMainpagebackground.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:300px;
}
/* for auto loan */
#auto_header{
    background-image:url(../images/CarLoanBackground.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:300px;
    margin-bottom:10px;
}
/* Education loan start */
#education_header_part{
    background-image:url(../images/Education_background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    width:100%;
    height:429px;
    position:relative;
}
/* for FDR Loan */
#fdr_header{
    background-image:url(../images/FDR-Main-Page-Banner.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    width:100%;
    height:320px;
    position:relative;
}
#dps_header{
    background-image:url(../images/DPSMainPageBanner.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:300px;
    margin-bottom:10px;
}
/* for home loan compare page */
.compare_table td {
    width: 33%;
}
.home-loan-Compare-hr1{
    width:43.5%;
}
.home-loan-Compare-hr3{
    width:45.3%;
}
.home-loan-Compare-hr4{
    width: 39.5%;
}
.loan-iframe{
    width:100%;
    height:auto;
    overflow:hidden;
}
.card_query{
    border-bottom: 2px solid #DADADA;
}
.calborder {
    width: 246px;
    border-bottom: 2px solid #DADADA;
}
.monthWrap .calborder {
    width: 244px;
}
.quest {
    font-size: 14px;
}
#alreadySaved .inputWrapper {
    margin: 0 0 5px 0;
}
#avgSave .inputWrapper {
    margin: -4px 0 0 8px;
}
#tenureType label {
    font-size: 16px;
    margin-top: 4px;
}
.slideWrapper {
    padding: 15px 20px 0 20px;
}
#interest .inputWrapper {
    margin: -3px 0 0 10px;
}
.calcSection {
    padding: 8px 0 0px 20px;
}

/* nirob */
@font-face {
    font-family: Myriad Pro Regular;
    src: url('../fonts/Myriad Pro Regular.ttf');
}
/* header part start*/
.btn-group-lg > .btn, .btn-lg {
    padding: 3px 39px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 6px;
}


/* auto loan start */
#auto_header_part{
    background-image:url('../images/AutoLoan_background.jpg');
    width:100%;
    height:380px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
}
.auto_header_text h3 {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
.auto_header_text p {
    color: #555454;
    font-size: 16px;
}
.auto_header_text {
    top: 120px;
    position: absolute;
    margin-left: 238px;
}
#auto_header_part img {
    float: right;
}
.auto_button a{
    color:#d1a05e;
    border:1px solid #d1a05e;
}
.auto_link{
    margin: 37px 16px;
    color:#d1a05e;
}
/* header part end*/
/* Sponsored part strat */
.btn-primary {
    color: #000;
    background-color: #fff;
    border-color: #2e6da4;
}
.Sponsored_heading{
    color:#59add2;
}
.Sponsored_box1 {
    border: 1px solid gray;
    height: 430px;
    width: 100%;
}
.spnrs img {
    height: 121px;
    width: 92%;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    margin: 10px 10px 0 10px;
}
.Sponsored_box1 h4 {
    color:#fff;
}
.auto_spnrs1 img{
    width:100%;
    position:relative;
}
.auto_spnrs1 p {
    position: absolute;
    top: 134px;
    font-size: 15px;
    color: #fff;
}
.Sponsored_box1 p{
    padding:15px;
    text-align:justify;
}
.Sponsored_box1 button {
    margin-left: 45px;
}
.auto_text{
    color:#d19f59;
    text-align:center;
    padding: 59px;
}
.auto_text p{
    font-size:15px;
}
.auto_box img {
    width: 80px;
    margin: 0px auto;
}
.auto_box {
    text-align: center;
}
.auto_box h4{
    color:#d19f59;
    margin-bottom:30px;
}
#auto_brand {
    background-image:url('../images/auto_background_middle.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:380px;
    width:100%;
    background-position:center center;
    margin-top: 50px;
}
.pr {
    color: #fff;
}
.clr_black {
    color: #000;
}
.biggest_pr{
    text-align:center;
}
.bigest_text h3 {
    margin-bottom: 40px;
    color:#fff;
}
.bigest_text {
    margin-left: 58px;
    font-size: 17px;
    margin-top: 50px;
}
.bigest_text1 h3 {
    margin-bottom: 40px;
}
.bigest_text1 {
    margin-left: 58px;
    font-size: 17px;
    margin-top: 50px;
}
.bigest_text button {
    margin-top: 92px;
    padding: 7px;
    color:#fff;
    border-color:#fff;
    background-color:#d19f59;
}
.bigest_text1 button {
    margin-top: 67px;
    padding:7px;
    border-color:#DADADA
}
.auto_text img {
    margin: 0px auto;
    margin-top: 40px;
}
.auto_text {
    text-align: center;
}
.auto_text h4 {
    margin-top: 50px;
}
.auto_text button {
    text-align: center;
    margin-top: 50px;
    color:#d19f59;
    border-color:#d19f59;
}
#finager_ready {
    background-color: #fbfcfd;
}
/* footer start */
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: gray;
    text-decoration: none;
}
#auto_footer{
    background-image:url('../images/auto_footer.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:427px;
    width:100%;
}
.auto_footer_pr h3 {
    color: #fff;
    margin-top: 85px;
}
.auto_footer_pr img {
    margin-top: 36px;
}
.footer_text {
    color: #fff;
    margin-top: 31px;
    font-size:16px;
}
.heading_text {
    width: 100%;
    min-height: 580px;
    border: 1px solid #DADADA;
    padding: 15px;
}
.heading_text p {
    text-align: justify;
}
.heading_text img {
    width: 100%;
    border: 1px solid #DADADA;
}
.H_loan {
    color: #59add2;
    margin: 25px 0px 15px;
}
.auto_btn{
    border:1px solid #d19f59;
}
#heading_title {
    margin: 62px 20px;
}
.home_read a {
    float: right;
    font-style: italic;
    color: #4C9ED9;
}
/* home loan start*/
#home_header_part{
    background-image:url('../images/home_loan_land_bg.png');
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:380px;
    position:relative;
}
.home_header_text h3 {
    color: #fff;
    font-size: 35px;
    font-style: italic;
}
.home_header_text p {
    color: #ccc;
    font-size: 18px;
    font-style: italic;
}
.home_header_text {
    text-align: right;
    top: 120px;
    position: relative;
    float: right;
    margin-right: 250px;
}
#home_header_part img {
    float: right;
}



/* header part end*/
/* Sponsored part strat */
.btn-primary {
    color: #000;
    background-color: #fff;
    border-color: #2e6da4;
}
.home_Sponsored_heading{
    color:#59add2;
    margin:37px 16px;
}
.Sponsored_box1 {
    border: 1px solid gray;
    height: 430px;
    width: 100%;
}
.spnrs img {
    height: 121px;
    width: 92%;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    margin: 10px 10px 0 10px;
}
.Sponsored_box1 h4 {
    color:#fff;
}
.spnrs1 img{
    width:100%;
}
.Sponsored_box1 p{
    padding:15px;
    text-align:justify;
}
.Sponsored_box1 button {
    margin-left: 45px;
}
.compare_text{
    color:#59add2;
    text-align:center;
    padding: 59px;
}
.compare_text p{
    font-size:15px;
}
.compare_box img {
    width: 80px;
    margin: 0px auto;
}
.compare_box {
    text-align: center;
}
.compare_box h4{
    color:#59add2;
    margin-bottom:30px;
}
#biggest_brand {
    background-image:url('../images/home_background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:385px;
    width:100%;
    background-position:center center;
    margin-top:30px;
}
.pr {
    color: #fff;
}
.clr_black {
    color: #000;
}
.biggest_pr{
    text-align:center;
}
.bigest_text h3 {
    margin-bottom: 40px;
    color:#fff;
}
.bigest_text {
    margin-left: 58px;
    font-size: 17px;
    margin-top: 50px;
}
.bigest_text1 h3 {
    margin-bottom: 40px;
}
.bigest_text1 {
    margin-left: 58px;
    font-size: 17px;
    margin-top: 50px;
}
.bigest_text button {
    margin-top: 92px;
    padding: 7px;
    color:#000;
    border-color:#fff
}
.bigest_text1 button {
    margin-top: 67px;
    padding:7px;
    border-color:#DADADA
}
.ready_text img {
    margin: 0px auto;
    margin-top: 40px;
}
.ready_text {
    text-align: center;
}
.ready_text {
    text-align: center;
}
.ready_text h4 {
    margin-top: 50px;
}
.ready_text p {
    margin-top: 45px;
}
.ready_text button {
    text-align: center;
    margin-top: 50px;
    color:#59add2;
    border-color:#59add2;
}
#finager_ready {
    background-color: #fbfcfd;
}
/* footer start */
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: gray;
    text-decoration: none;
}
#footer{
    background-image:url('../images/home_background2.png');
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:427px;
    width:100%;
}
.footer_pr h3 {
    color: #fff;
    margin-top: 65px;
}
.footer_pr img {
    margin-top: 36px;
}
.footer_text {
    color: #fff;
    margin-top: 31px;
    font-size:16px;
}
.heading_text {
    width: 100%;
    height: 580px;
    border: 1px solid #DADADA;
    padding: 15px;
}
.heading_text p {
    text-align: justify;
}
.heading_text img {
    width: 100%;
    border: 1px solid #DADADA;
}
.H_loan {
    color: #59add2;
    margin: 25px 0px 15px;
}
#heading_title {
    margin: 62px 20px;
}
.home_read {
    float: right;
    font-style: italic;
    color: #4C9ED9;
}
/* home loan end */
/* personal loan start */
.personal_button a{
    color:#256e92;
}
.personal_link{
    margin: 37px 16px;
    color:#256e92;
}
#personal_header_part{
    background-image:url(../images/personal_background.jpg);
    width:100%;
    height:450px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
#header_part{
    background-color:#393e41;
    width:100%;
    height:380px;
    position:relative;
}
.personal_header_text h3 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}
.personal_header_text p {
    color: #5e5c5c;
    font-size: 16px;
}
.personal_header_text {
    top: 165px;
    position: absolute;
    margin-left: 238px;
}
#personal_header_part img {
    float: right;
}
/* header part end*/
/* Sponsored part strat */
.btn-primary {
    color: #000;
    background-color: #fff;
    border-color: #2e6da4;
}
.Sponsored_heading{
    color:#59add2;
}
.Sponsored_box1 {
    border: 1px solid gray;
    height: 430px;
    width: 100%;
}
.spnrs img {
    height: 121px;
    width: 92%;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    margin: 10px 10px 0 10px;
}
.Sponsored_box1 h4 {
    color:#fff;
}
.personal_spnrs1 img{
    width:100%;
    position:relative;
}
.personal_spnrs1 p {
    position: absolute;
    top: 134px;
    font-size: 15px;
    color: #fff;
}
.Sponsored_box1 p{
    padding:15px;
    text-align:justify;
}
.Sponsored_box1 button {
    margin-left: 45px;
}
.personal_text{
    color:#256e92;
    text-align:center;
    padding: 59px;
}
/* .personal_text p{
	font-size:15px;
} */
.personal_box img {
    width: 80px;
    margin: 0px auto;
}
.personal_box {
    text-align: center;
}
.personal_box h4{
    color:#256e92;
    margin-bottom:30px;
}
#personal_brand {
    background-image:url(../images/personal_background_middel.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:380px;
    width:100%;
    background-position:center center;
    margin-top: 50px;
}
.pr {
    color: #fff;
}
.clr_black {
    color: #000;
}
.biggest_pr{
    text-align:center;
}
.bigest_text h3 {
    margin-bottom: 40px;
    color:#fff;
}
.bigest_text {
    margin-left: 58px;
    font-size: 17px;
    margin-top: 50px;
}
.personal_bigest_text1 h3 {
    margin-bottom: 40px;
    font-weight: bold;
}
.personal_bigest_text1 {
    margin-left: 58px;
    font-size: 17px;
    margin-top: 50px;
}
.bigest_text button {
    margin-top: 92px;
    padding: 7px;
    color:#fff;
    border-color:#fff;
    background-color:#256e92;
}
.personal_bigest_text1 button {
    margin-top: 67px;
    padding:7px;
    border-color:#DADADA
}
.personal_text img {
    margin: 0px auto;
    margin-top: 40px;
}
.personal_text {
    text-align: center;
}
.personal_text h4 {
    margin-top: 50px;
}
.personal_text button {
    text-align: center;
    margin-top: 50px;
    color:#256e92;
    border-color:#256e92;
}
#finager_ready {
    background-color: #fbfcfd;
}
/* footer start */
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: gray;
    text-decoration: none;
}
#personal_footer{
    background-image:url(../images/personal_footer.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:427px;
    width:100%;
}
.personal_footer_pr h3 {
    color: #fff;
    margin-top: 85px;
}
.personal_footer_pr img {
    margin-top: 36px;
}
.footer_text {
    color: #fff;
    margin-top: 31px;
    font-size:16px;
}
.heading_text {
    width: 100%;
    min-height: 580px;
    border: 1px solid #DADADA;
    padding: 15px;
}
.heading_text p {
    text-align: justify;
}
.heading_text img {
    width: 100%;
    border: 1px solid #DADADA;
}
.H_loan {
    color: #59add2;
    margin: 25px 0px 15px;
}
.personal_btn{
    border:2px solid #256e92;
}
#heading_title {
    margin: 62px 20px;
}
.home_read {
    float: right;
    font-style: italic;
    color: #4C9ED9;
}
#education_header{
    background-image:url(../images/Education-Loan-Main-Page-Banner.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:300px;
}
/* personal loan end */
/* Education loan start */
#education_header_part{
    background-image:url('../images/Education_background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    width:100%;
    height:429px;
    position:relative;
}
#edu_biggest_brand {
    margin-top: 30px;
}
.education_header_text h3 {
    color: #5e5c5c;
    font-size: 25px;
    font-style: italic;
}
.education_header_text p {
    color: #5e5c5c;
    font-size: 18px;
    font-style: italic;
}
.education_header_text {
    text-align: center;
    top: 304px;
    margin-left:517px;
    position: absolute;
}
#education_header_part img {
    float: right;
}
.education_btn{
    color:#636565;
    border:1px solid #fff;
}
.education_Sponsored_heading{
    color:#636565;
    margin:37px 16px;
}
.edu_spnrs {
    position: absolute;
    top: 134px;
    font-size: 15px;
    color: #fff;
}
.edu_btn{
    border:2px solid #636565;
}
.edu_compare_text{
    color:#636565;
    text-align:center;
    padding: 59px;
}
.edu_compare_text p{
    font-size:15px;
}
.edu_compare_box img {
    width: 80px;
    margin: 0px auto;
}
.edu_compare_box {
    text-align: center;
}
.edu_compare_box h4{
    color:#636565;
    margin-bottom:30px;
}
#edu_biggest_brand {
    background-image:url(../images/edu_background_middle.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:385px;
    width:100%;
    background-position:center center;
}
.edu_ready_text button {
    text-align: center;
    margin-top: 50px;
    color:#636565;
    border-color:#636565;
}
.edu_ready_text img {
    margin: 0px auto;
    margin-top: 40px;
}
.edu_ready_text {
    text-align: center;
}
.edu_ready_text {
    text-align: center;
}
.edu_ready_text h4 {
    margin-top: 50px;
}
.edu_ready_text p {
    margin-top: 45px;
}
.edu_H_loan {
    color: #636565;
    margin: 25px 0px 15px;
}
.edu_home_read {
    float: right;
    font-style: italic;
    color: #636565;
}
#edu_footer{
    background-image:url(../images/education_footer.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:427px;
    width:100%;
}
.edu_footer_pr img {
    margin-top: 34px;
}
.edu_footer_pr h3 {
    color: #fff;
    margin-top: 126px;
}
.edu_bigest_text button {
    margin-top: 92px;
    padding: 7px;
    color: #fff;
    border-color: #fff;
    background-color: #636565;
}
.edu_bigest_text h3 {
    margin-bottom: 40px;
    color:#fff;
}
.edu_bigest_text {
    margin-left: 58px;
    font-size: 17px;
    margin-top: 50px;
}
/* Education loan end */
/* FDR start */
#fdr_header_part {
    background-image: url(../images/FDR_Landing_Page_Edited_banner.jpg);
    width: 100%;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.fdr_header_text {
    top: 275px;
    position: relative;
    margin-left: 238px;
}
.fdr_header_text p{
    font-size:18px;
}
.fdr_link {
    margin: 37px 16px;
    color: #1F5883;
}
.fdr_spnrs1 img {
    width: 100%;
    position: relative;
}
.fdr_spnrs1 p {
    position: absolute;
    top: 134px;
    font-size: 15px;
    color: #fff;
}
.fdr_btn {
    border: 2px solid #205984;
}
.fdr_text {
    color: #d19f59;
    text-align: center;
    padding: 59px;
}
.fdr_text h3{
    color:#1F5883;
}
.fdr_box {
    text-align: center;
}
.fdr_box img {
    width: 80px;
    margin: 0px auto;
}
.fdr_box {
    text-align: center;
}
.fdr_box h4{
    color:#1F5883;
    margin-bottom:30px;
}
#fdr_brand {
    background-image: url(../images/fdr_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 395px;
    width: 100%;
    background-position: center center;
    margin-top: 50px;
}
.fdr_text {
    color: #1F5883;
    text-align: center;
    padding: 59px;
}
.fdr_text p{
    font-size:15px;
    color:#1F5883;
}
.fdr_text img {
    margin: 0px auto;
    margin-top: 40px;
}
.fdr_text h4 {
    margin-top: 50px;
}
.fdr_text button {
    text-align: center;
    margin-top: 50px;
    color:#205a85;
    border-color:#205a85;
}
#fdr_ready {
    background-color: #fbfcfd;
}
.fdr_loan {
    color: #1F5883;
    margin: 25px 0px 15px;
    text-align:justify;
}
.fdr_heading_text {
    width: 100%;
    min-height: 580px;
    border: 1px solid #DADADA;
    padding: 15px;
}
.fdr_heading_text p {
    text-align: justify;
}
.fdr_heading_text img {
    width: 100%;
    border: 1px solid #DADADA;
}
.fdr_read a {
    float: right;
    font-style: italic;
    color: #000;
}
#fdr_footer {
    background-image: url(../images/fdr_footer_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 428px;
    width: 100%;
}
.fdr_footer_pr h3 {
    color: #fff;
    margin-top: 130px;
}
.fdr_footer_pr img {
    margin-top: 36px;
}
.fdr_footer_text {
    color: #fff;
    margin-top: 31px;
    font-size:16px;
}
.fdr_bigest_text button {
    margin-top: 92px;
    padding: 7px;
    color: #fff;
    border-color: #fff;
    background-color: #205a85;
}
.fdr_bigest_text h3 {
    margin-bottom: 40px;
    color:#fff;
}
.fdr_bigest_text {
    margin-left: 58px;
    font-size: 17px;
    margin-top: 50px;
}
/* fdr end */
/* DPS start */
#dps_header_part {
    background-image: url(../images/DPS-Landing-Page-banner-edit2.jpg);
    width: 100%;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.dps_header_text {
    top: 275px;
    position: relative;
    margin-left: 238px;
}
.dps_header_text p{
    font-size:18px;
}
.dps_link {
    margin: 37px 16px;
    color: #a9a270;
}
.dps_spnrs1 img {
    width: 100%;
    position: relative;
}
.dps_spnrs1 p {
    position: absolute;
    top: 134px;
    font-size: 15px;
    color: #fff;
}
.dps_btn {
    border: 2px solid #a9a270;
}
.dps_text {
    color: #a9a270;
    text-align: center;
    padding: 59px;
}
.dps_text h2 {
    color: #a9a270;
}
.dps_text h3{
    color:#a9a270;
}
.dps_box {
    text-align: center;
}
.dps_box img {
    width: 80px;
    margin: 0px auto;
}
.dps_box {
    text-align: center;
}
.dps_box h4{
    color:#a9a270;
    margin-bottom:30px;
}
#dps_brand {
    background-image: url(../images/dps_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 395px;
    width: 100%;
    background-position: center center;
    margin-top: 50px;
}
.dps_text {
    color: #1F5883;
    text-align: center;
    padding: 59px;
}
.dps_text p{
    font-size:15px;
    color:#a9a270;
}
.dps_text img {
    margin: 0px auto;
    margin-top: 40px;
}
.dps_text h4 {
    margin-top: 50px;
    color: #a9a270;
}
.dps_text button {
    text-align: center;
    margin-top: 50px;
    color:#a9a270;
    border-color:#a9a270;
}
#dps_ready {
    background-color: #fbfcfd;
}
.dps_loan {
    color: #a9a270;
    margin: 25px 0px 15px;
    text-align:justify;
}
.dps_button a {
    border: 1px solid #fff;
    color: #a9a270;
}
.dps_heading_text {
    width: 100%;
    min-height: 580px;
    border: 1px solid #DADADA;
    padding: 15px;
}
.dps_heading_text p {
    text-align: justify;
}
.dps_heading_text img {
    width: 100%;
    border: 1px solid #DADADA;
}
.dps_read a {
    float: right;
    font-style: italic;
    color: #000;
}
#dps_footer {
    background-image: url(../images/dps_footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 428px;
    width: 100%;
}
.dps_footer_pr h3 {
    color: #fff;
    margin-top: 130px;
}
.dps_footer_pr img {
    margin-top: 36px;
}
.dps_footer_text {
    color: #fff;
    margin-top: 31px;
    font-size:16px;
}
.dps_bigest_text button {
    margin-top: 92px;
    padding: 7px;
    color: #fff;
    border-color: #fff;
    background-color: #a9a270;
}
.dps_bigest_text h3 {
    margin-bottom: 40px;
    color:#fff;
}
.dps_bigest_text {
    margin-left: 58px;
    font-size: 17px;
    margin-top: 50px;
}
/* DPS End */
/* card landing page */

#header_part{
    background-color:#57aed3;
    width:100%;
    height:60px;
}
#second_div{
    background-image:url(../images/cardbg.jpg);
    height:450px;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
    background-position:center center;

}
.best_card {
    margin-top: 70px;
}
.best_card h4 {
    margin-top: 60px;
    line-height:28px;
}
.best_card h1 {
    font-weight:bold;
}
.best_card_image img {
    position: absolute;
    margin-left: 943px;
    width:200px;

}
.All_cradit_card p {
    color: #57aed3;
    font-weight: bold;
    font-size: 15px;
    margin-top: 18px;
}
.All_cradit_card {
    margin: 0 auto;
    float: none;
    display: block;
    text-align: center;
}
.All_card1 p {
    margin-top: 37px;
}
.All_card2 img {
    margin-top: 12px;
}
.All_card2 p {
    margin-top: 47px;
}
.All_card {
    border: 1px solid #DADADA;
    padding: 19px;
    background-color: #fff;
}
.All_card1 {
    border-top: 1px solid #DADADA;
    padding: 18px;
    background-color: #fff;
}
.All_card2 {
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    padding: 19px;
    background-color: #fff;
}
.All_card3 {
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    padding: 18px;
    background-color: #fff;
}
.All_card4 {
    border-left:1px solid #DADADA;
    border-bottom:1px solid #DADADA;
    padding: 18px;
}
.All_card5 {
    border: 1px solid #DADADA;
    padding: 17px;
    margin: -1px -1px 0px -1px;
}
.All_card6 {
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    padding: 22px;
    margin: -1px 1px;
}
.All_card7 {
    border: 1px solid #DADADA;
    padding: 19px;
    margin: -1px 0px 0px -1px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.card_bank {
    position: relative;
    margin-top: 64px;
}
/* second_div end */
/* third_div star */
.box{
    border:1px solid #DADADA;
    height:70px;
    width:100%;
    margin-top: 45px;
    background-color:#DADADA;
}
.All_cradit_card a{
    text-decoration:none;
}
.nopadding:hover{
    background-color:#f2f2f3;
}
.All_cradit_card :hover {
    background-color: #f2f2f3;
}
/* third_div end */
/* card_box star */
.card_box {
    border: 1px solid #e0dfe0;
    width: 100%;
    height: 150px;
    background-color: #e0dfe0;
}
.card_box1 {
    border: 1px solid #e0dfe0;
    width: 100%;
    height: 150px;
    background-color: #e0dfe0;
    margin-top: 100px;
}
.category p {
    font-size: 16px;
    font-weight: bold;
    background-color: #f5fbfe;
    text-align: center;
    height: 100px;
    width: 300px;
    margin-left: 24px;
    margin-top: 108px;
    padding-top: 14px;
}
.category1 p {
    font-size: 16px;
    font-weight: bold;
    background-color: #f5fbfe;
    text-align: center;
    height: 100px;
    width: 300px;
    margin-left: 24px;
    margin-top: 108px;
    padding-top: 14px;

}
/* card_box end */
/* popular_artical start */
.popular_artical img{
    width:45px;
    height:45px;
    border:1px solid #DADADA;
    border-radius:50%;

}
.popular_artical h5 {
    font-size: 16px;
    color: black;
}
.popular_artical a {
    text-decoration: none;
    color: #bcbcbc;
    font-weight: bold;
    font-size: 15px;
}
.Card_partner_imgs h3 {
    margin: 0;
    color: black;
    font-size:20px;
}
.Card_partner_imgs p {
    font-size: 12px;
    color: black;
}
.partenrs_card img{
    float:left;
    margin:0 10px 40px 0;
}
#Basic{
    background-image:url(../images/back.jpg);
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    height:450px;
    width:100%;
}
.card_basic p {
    font-size: 13px;
    margin-top: 20px;
    text-align:justify;
}
.All_card4 p {
    margin-top: 31px;
}
.All_card5 p {
    margin-top: 30px;
}
.All_card6 p {
    margin-top: 31px;
}
.All_card7 p {
    margin-top: 30px;
}
.All_card4 img {
    margin-top: 20px;
}
.All_card5 img {
    margin-top: 20px;
}
.All_card6 img {
    margin-top: 20px;
}
.All_card7 img {
    margin-top: 20px;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #DADADA;
}
.par_card {
    margin-top: 40px;
}
#our_partners {
    margin-top: 40px;
}

#logos img {
    margin-top: 60px;
}
.btn-info {
    color: #fff !important;
    background-color: #fff !important;
    border-color: #fff !important;
}
.btn-info:hover {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}
/* .card_basic {
	margin-top: 40px;
} */
/* debit car start */
.debit_card_box1 {
    border: 1px solid #ddd4b5;
    width: 100%;
    height: 150px;
    background-color: #ddd4b5;
    margin-top: 100px;
}
.debit_card_box {
    border: 1px solid #ddd4b5;
    width: 100%;
    height: 150px;
    background-color: #ddd4b5;
}
.debit_box{
    border:2px solid #dededf;
    height:70px;
    width:100%;
    margin-top: 45px;
    background-color:#fff;
}
#debit_header_part{
    background-color:#9a8d5c;
    width:100%;
    height:60px;
}
#debit_second_div{
    background-image:url(../images/debit_background.jpg);
    height:450px;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
    background-position:center center;
}
.debit_best_card_image img {
    position: absolute;
    margin-left: 943px;
    width:200px;
}
.debit_All_card1 p {
    margin-top: 37px;
}
.debit_All_card2 img {
    margin-top: 12px;
}
.debit_All_card2 p {
    margin-top: 47px;
}
.debit_All_card {
    border: 1px solid #DADADA;
    padding: 20px;
    background-color: #fff;
}
.debit_All_card1 {
    border-top: 1px solid #DADADA;
    padding: 18px;
    background-color: #fff;
}
.debit_All_card2 {
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    padding: 19px;
    background-color: #fff;
}
.debit_All_card3 {
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    padding: 18px;
    background-color: #fff;
}
.debit_All_card4 {
    border-left:1px solid #DADADA;
    border-bottom:1px solid #DADADA;
    padding: 18px;
}
.debit_All_card5 {
    border: 1px solid #DADADA;
    padding: 17px;
    margin: -1px -1px 0px -1px;
}
.debit_All_card6 {
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    padding: 23px;
    margin: -1px 1px;
}
.debit_All_card7 {
    border: 1px solid #DADADA;
    padding: 29px;
    margin: -1px 0px 0px -1px;
}
.debit_All_card4 p {
    margin-top: 31px;
}
.debit_All_card5 p {
    margin-top: 30px;
}
.debit_All_card6 p {
    margin-top: 31px;
}
.debit_All_card7 p {
    margin-top: 30px;
}
.debit_All_card4 img {
    margin-top: 20px;
}
.debit_All_card5 img {
    margin-top: 20px;
}
.debit_All_card6 img {
    margin-top: 20px;
}
.All_card7 img {
    margin-top: 20px;
}
.All_debit_card p {
    color: #9a8d5c;
    font-weight: bold;
    font-size: 15px;
    margin-top: 18px;
}
.All_debit_card {
    margin: 0 auto;
    float: none;
    display: block;
    text-align: center;
}
.All_debit_card a{
    text-decoration:none;
}
.All_debit_card :hover {
    background-color: #e2e3e4;
}
.debit_All_card2 img {
    margin-top: 35px;
}
.debit_All_card1 img {
    margin-top: 19px;
}
#debit_Basic{
    background-image:url(../images/debit_BG.jpg);
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    height:450px;
    width:100%;
}



/* for FDR Loan */
#fdr_header{
    background-image:url(../images/FDR-Main-Page-Banner.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    width:100%;
    height:320px;
    position:relative;
}
.fdr_tenure{
    background-image:url(../images/radiobg.png);
    width:119px;
    height:31px;
    margin-bottom:10px;
}
.fdr_radio{
    margin:6px 0 0 8px;
}
.card_query_fdr{
    border-bottom: 2px solid #DADADA;
}
.fdrTenurepadding{
    padding:5px;
}
.card_text3 {
    margin-top: 6px;
    position: relative;
    min-height: 50px;
    text-align:center;
}
.fdr_apply {
    margin-bottom: 10px;
    width: 97px;
}
.more_availabe{
    margin-top:68px;
}
.more_availabe i{
    color:#2c8aca;
}
.more_availabe a{
    text-decoration:none;
    color:#000;
}
.fdr_right_bar{
    padding: 15px 15px;
    margin-bottom: 15px;
    clear: both;
    border: 1px solid #EAEAEC;
}
.fdr_right_bar:hover{
    background-color:#f4f4f4;
}
.fdr_bank_logo{
    border: 1px solid #EAEAEC;
}
.fdr_terms {
    padding: 28px;
    text-align: justify;
}
.fdr_terms ol li{
    margin-bottom:8px;
}
.offer_table table th, td{
    text-align:center;
}
.offer_table table th{
    background-color:#57add3;
}
.offer_table tr:nth-child(even){
    background: #c4c4c4;
}
.fdr_iframe{
    background-color:#EAEAEC;
    padding:10px;
}
/* for dps */
#dps_header{
    background-image:url(../images/DPSMainPageBanner.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:300px;
    margin-bottom:10px;
}
.dps_tenure{
    background-image:url(../images/btnDps.png);
    width:120px;
    height:32px;
    margin-bottom:10px;
}
.nav>li>a {
    font-size: 13px !important;
}



/*For Mashmenu*/
.no-padding{
    padding: 0;
}
.margin_bottom_10{
    margin-bottom: 10px;
}

#page-content-wrapper {
    z-index: 99999;
    position: absolute;
}
.logobar{
    position: absolute;
    left: 15px;
    z-index: 99999;
    max-height: 63px;
    width: 150px;
}

.logobar a .logo{
    max-height: 63px;
    width: 150px;
}

/*For Footer menu*/
.footer-logo{
    width: 107px;
    height: 47px;
}
.footer{
    background: #e2e5e6;
    padding: 30px 15px 15px 15px;
}
ul.footer-socio {
    float: right;
}
.footer-socio li {
    display: inline;
}
.footer-socio li img {
    height: 60px;
    max-width: 51px;
}
.footer-menu-title{
    color: #129bbe;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}
.footer-menus{

}
.footer-menus li{
    list-style: none;
}
.footer-hr{
    margin-top: 20px;
    margin-bottom: 15px;
    border-top: 2px solid #b9b8b8;
}
.subscribe-footer{
    border: 2px solid #757779 !important;
    border-radius: 14px !important;
    background-color: #e2e5e6 !important;
}
.subscribe-footer-btn {
    background-color: #1a9cbe;
    font-weight: 600 !important;
    color: #fff;
    font-size: 15px !important;
    padding: 3px 6px !important;
    border-radius: 10px !important;
}
.footer-menus>li>a {
    color: #6d6d6d;
    font-weight: 600;
    font-size: 13px;
}
.footer-ass-text{
    color: #6d6d6d !important;
    font-weight: 600;
    font-size: 12px;
}
.footer-ass-text a{
    color: #1a9cbe;
}
/* for bootstrap horizontal menu  */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin:0px auto;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    text-transform:uppercase;
    font-size:14px;
    margin-left:-8px;
    font-weight:bold;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#67B5D4;
}
.navbar-default .navbar-nav>li>a:focus{
    color:#000;
}
.top-menu{
    display:none;
}
.vMenu {
    text-align: center;
    margin: 0px auto;
    height: auto;
    width: 531px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: none;
    border-bottom: 1px solid #000;
    border-bottom-color: transparent;
}
.nav-tabs > li > a {
    margin-right: 0px;
}
.nav-tabs {
    border-bottom: none;
}
.no-margin-lr{
    margin-left:0 !important;
    margin-right:0 !important;
}
.dropdown-menu {
    margin: 2px -8px 0;
}
#home-page{
    width:100%;
    height:600px;
}
#top-page{
    min-height:48px;
}
.header{
    margin-top:10px;
}
.logo{
    width:150px;
}
.logo-lg{
    height: 130px;
    width: auto;
}
.login{
    font-family:"Eras Demi ITC";
    font-weight:bold;
    font-size:18px;
    margin-right:80px;
}
.header-right{
    margin-top:8px;
}
.hr-bar{
    width:100%;
    height:3px;
}
.footer-text p{
    margin-top:7px;
}
.find-bar{
    margin-top:160px;
    text-align:center;
}

.device-bg{
    width:100%;
    height:350px;
    background-color:#9e9e9e;
    background-attachment:fixed;
}
.device-img{
    height:auto;
    width:100%;
    margin-top:53px;
}