@charset "utf-8";
/* CSS Document */
body {
	font-size: 14px !important;
}
*{
	margin:0;
	padding:0;
}
/* for bootstrap horizontal menu  */
.margin_botton_30{
	margin-bottom: 30px;
}
.w100{
	width: 100%;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin:0px auto;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
	text-transform:uppercase;
	font-size:14px;
	margin-left:-8px;
	font-weight:bold;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#67B5D4;
}
.navbar-default .navbar-nav>li>a:focus{
	color:#000;
}
.top-menu{
	display:none;
}
.slider_img{
	width:auto;
	height:135px;
}
#top-page {
    width: 100%;
    height: 77px;
}
.header{
	margin-top:10px;
}
.logo{
	width:120px;
}
.login{
	font-family:"Eras Demi ITC";
	font-weight:bold;
	font-size:18px;
	margin-right:80px;
}
.header-right{
	margin-top:8px;
}
.hr-bar{
	width:100%;
	height:3px;
}
.footer-text p{
	margin-top:7px;
}
.find-bar {
    margin-top: 15%;
    text-align: center;
}

.device-bg{
	width:100%;
	height:350px;
	background-color:#9e9e9e;
	background-attachment:fixed;
}
.device-img{
	height:auto;
	width:100%;
	margin-top:53px;
}

/* Category Icon */
#CategoryIcon{
	height:500px;
	width:auto;
	margin-top:10%;
}
.catagory-icon{
	margin-top:20px;
}
.catagory-icon h1 {
    text-align: center;
    font-size: 50px;
    margin: 20px;
}
.catagory-icon p{
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
	color:gray;
}
.Cicon{
	text-align:center;
	margin:20px 10px;
}
.Cicon a{
	text-decoration:none;
}
.Cicon img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.Cicon img:hover{
	-webkit-filter: grayscale(0%);
	filter:grayscale(0%);
}

/*for forth page*/
#forth-page{
	clear:both;
	margin-bottom:25px;
}
.card-deposit h1{
	font-size:50px;
	color:#3390b6;
	font-family:SaintAndrewsQueen;
}
.card-deposit p{
	color:#000;
	text-align:justify;
	font-family:Kalpurush Regular;
}
.see-more{
	font-family:SaintAndrewsQueen;
	color:#3390b6;
	font-weight:bolder;
}
.btn-aplly{
	float:right;
	margin-bottom:10px;
}
@font-face {
    font-family: SaintAndrewsQueen;
	src:url(../fonts/SaintAndrewsQueen.ttf);
}
/*for slider*/
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 0;
    background-color: #9a9a9b;
}
.carousel-indicators {
    bottom: -60px;
}
.carousel-indicators li{
	background-color:#cdcece;
	width:15px;
	height: 15px;
	border-radius:25px;
}
.carousel-inner>.item img{
	margin-left:auto; 
	margin-right: auto;
	float: none;
}
.remittance{
	font-size:30px;
}
.rem-readmore{
	float:right;
	margin-right:180px;
}
.rem-readmore a{
	text-decoration:none;
}

/*for card page*/
.card_right_bar {
    background-color: #F9F9F9;
    padding: 15px 15px;
    margin-bottom: 15px;
    clear: both;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
}
.card_right_bar:hover {
    box-shadow: 0px 0px 9px 3px #f2f2f2;
}
.w20{
	width:20% !important;
}

.card_text2 p {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
	margin: 0;
}

.card_description{
	font-size:12px;
}

.cc_menu{
	background-image:url(../images/cc_menu_bg.png);
}
.query_radio{
	margin-left:14px;
}
.btnCardApply{
	margin-left:9px;
	margin-top:8px;
}
.card_text1{
	margin-top:6px;
}
.card_text2 {
    margin-top: 6px;
    position: relative;
    min-height: 80px;
}
.card_text2 h5{
	font-weight:bold;
	font-size: 12px;
}
.more_info_icon{
	margin-top:20px;
	font-size:14px;
}
.more_info_icon a{
	text-decoration:none;
}
.more_info_icon i{
	color:#2c8aca;
}
#tab{
	margin-bottom:20px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-bottom:1px solid #5AAFD1;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs>li>a{
    border-radius:0;
}
.card_more_info {
    background-color: #FBFBFB;
    margin-bottom: 20px;
    margin-top: -14px;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
}
.tab-content{
	margin-top:10px;
}
.tab_body{
	margin-left:20px;
}
.tab-pane h3{
	margin-left:30px;
}
.tab_td_text{
	margin: 10px 0 0 5px;
}
.tab_body_icon li{
    list-style:circle url("../images/Icon-For-Credit-Card 2.2.png");
}
.tab_body_icon2 li{
    list-style:circle url("../images/Icon-For-Credit-Card2.png");
    list-style-position:initial;
}
.more_filter{
	border:1px solid #ececec;
	text-align:center;
}
.more_filter a{
	text-decoration:none;
}
.more_filter p{
	margin-top:10px;
}
.card_btn_apllication{
	margin:56px 24px;
}
.rating{
	font-size:12px;
}

/* for custome radio & checkbox */
.material_check_radio {
    width: 15px;
    height: 15px;
    background-color: #fff;
}
.material_check_radio:after {
   width: 5px;
    height: 5px;
    left: 3px;
    top: 3px;
}
.material_radio_group {
    cursor: pointer;
    font-size: 12px !important;
}
.material_label_checkbox:before {
    width: 22px;
    height: 22px;
	font-size:12px;
}
.material_label_checkbox{
	font-size:12px;
	font-weight: 100;
	line-height: 14px;
}
/* for Card Compare Page */
.card_compare_head{
	font-family:SaintAndrewsQueen;
	font-size:60px;
}
.compare_btnApplication{
	margin-left:39px;
}
.compare_btnApplication1{
	margin-left: 35px;
    margin-top: 121px;

}
.Card-Compare-hr{
	height:2px;
	width: 43%;
}
.Card-Compare-hr1{
	width: 44.7%;
}
.Card-Compare-hr2{
	width: 42%;
}

.Card-Compare-hr3{
	width: 45%;
}
.Card-Compare-hr4{
	width: 42.8%;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none !important;
}

.comparison_email{
	width: 33.33333333%;
	height:auto;
	margin: 0px auto;
}

/* for Card Details Page */
 .card_details_head{
	 height:auto;
	 width:100%;
	 background-color:#DEDDDD;
	 color:#000;
	 text-align:center;
	 border-bottom:2px solid #9D9A9A;
	 margin-bottom:10px;
	 font-size:11px;
	 padding-top:3px;
	 font-weight:bold;
 }
 .card_details_ImgCard{
	 width:165px;
	 height:auto;
 }
 .card_details_features{
	 font-size:11px;
	 text-align:justify;
 }
 .card_details_Btransfer{
	 text-align:center;
 }
 .card_details_head2{
	 font-size:12px;
	 font-weight:bold;
 }
 .add_comp_icon{
	margin-top:20px;
	font-size:15px;
}
.add_comp_icon a{
	text-decoration:none;
}
.add_comp_icon i{
	color:#2c8aca;
}
#card_details_2nd{
	margin-top:40px;
}
.card_details_pronsCons{
	background-color:#F2F2F3;
	padding:10px;
	margin-top:50px;
	border-bottom:2px solid #C1C1C0;
}
.card_details_pronsCons_head{
	margin-left:18px;
}
.prosCons_body{
	margin-left:20px;
}
.prosCons_body b{
	font-size:15px;
}
.prosCons_body2{
	margin-left:20px;
}
.prosCons_body2 ul li{
	font-size:12px;
	margin-bottom:10px;
}
.prosConsHr{
	height:2px;
	width:auto;
	background-color:#C1C1C0;
	margin:5px 0;
}
.userReview_body{
	text-align:center;
}
.userReviewLeft1{
	font-size:46px;
}
.userReviewLeft2{
	font-size:22px;
	color:#999999;
}
.userReviewLeft3{
	font-size:12px;
	color:#999999;
	text-decoration:underline;
}
.userreviw_note{
	font-size:12px;
	color:#999999;
}
.prosCons_body ul li {
    list-style-type: none;
}
.prosCons_body ol, ul {
   padding-left:30px;
}
.w20{
	width:20% !important;
}

.card_text2 p {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
	margin: 0;
}

.card_description{
	font-size:12px;
}

.cc_menu{
	background-image:url(../images/cc_menu_bg.png);
}
.query_radio{
	margin-left:14px;
}
.btnCardApply{
	margin-left:9px;
	margin-top:8px;
}
.card_text1{
	margin-top:6px;
}
.card_text2 {
    margin-top: 6px;
    position: relative;
    min-height: 80px;
}
.card_text2 h5{
	font-weight:bold;
	font-size: 12px;
}
.more_info_icon{
	margin-top:20px;
	font-size:14px;
}
.more_info_icon a{
	text-decoration:none;
}
.more_info_icon i{
	color:#2c8aca;
}
#tab{
	margin-bottom:20px;
}

.tab-content{
	margin-top:10px;
}
.tab_body{
	margin-left:20px;
}
.tab-pane h3{
	margin-left:30px;
}
.tab_td_text{
	margin: 10px 0 0 5px;
}
.more_filter{
	border:1px solid #ececec;
	text-align:center;
}
.more_filter a{
	text-decoration:none;
}
.more_filter p{
	margin-top:10px;
}
.card_btn_apllication{
	margin:56px 24px;
}
.rating{
	font-size:12px;
}




/*Compare section starts*/
.hiden_div {
    height: 130px;
    width: 100%;
    border-radius: 0;
    background-color: #EAEAEC;
}
.cart_anchor {
    float: left;
    vertical-align: top;
    background: url('../images/card-frame.png') no-repeat center center / 100% auto;
    width: 173px;
    height: 110px;
    margin: 10px;
    position:relative;
}
.cart_anchor01 {
    float: left;
    vertical-align: top;
    background: url('../images/card-frame.png') no-repeat center center / 100% auto;
    width: 173px;
    height: 110px;
    margin: 10px;
    position:relative;
}
.card-holder {
    background-color: rgb(93, 93, 94);
    padding: 0px;
    border-radius: 16px;
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.hidden_div {
    height: 130px;
    width: 100%;
    border-radius: 0;
    background-image: url(../images/card-holder.png);
    background-repeat: no-repeat;
}
.hidden_div_container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    float: none;
    display: block;
    width: 600px;
}
.compare-cross-btn {
    height: 20px;
    position: absolute;
    right: -5px;
    top: -5px;
    cursor:pointer;
}
/*Compare section end*/
/*hidden div*/