@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
@font-face {
    font-family: RobotoSlab-Regular;
    src:url(../fonts/RobotoSlab-Regular.ttf);
}
body{
	font-family:"RobotoSlab-Regular";
}
/* menu ber start */
.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}
.navbar-default .navbar-nav>li>a {
	text-transform:uppercase;
 	color:#fff;
 	font-size:16px;
	font-weight:bold;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#87d37c;
}
.navbar-default .navbar-nav>li>a:focus{
	color:#DADADA;
}
.logo img{
	width:234px;
	margin-top: 15px;
}
.navbar-nav{
	margin-top:30px;
}
.btn.btn-primary.common_btn.user_comment_btn {
	outline: 0px;
}
/* menu ber end */
/* background image */
#menu{
	background-image:url(../images/Blog-Banner-3.jpg);
	height:375px;
	width:auto;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	margin-bottom: 15px;
}
.Latest_news img{
	width:100%;
	height:150px;
	border: 1px solid #ddd;
}
.Latest_news{
	background-color:#fff;
}
.Latest_news_pr p {
	font-size: 13px;
	line-height: 21px;
}
.Latest_news_pr {
	padding: 10px;
	border-top: 1px solid #DADADA;
	margin-bottom: 0px;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	text-align:justify;
}
/* .Latest_news {
	border: 1px solid #DADADA;
	padding: 14px;
} */
.event h4{
	margin-top: -29px;
}
.archive_date h4{
	margin-top: -29px;
}
.event-month{
	background: #dd3333;
	width:20%;
	
}
.event-day{
	background: #3465aa;
	width:20%;
	
}
 .event {
	text-align: center;
	color: #fff;
	margin-right:20px;
	margin-top:4px;
	padding: 16px;
	padding-bottom: 35px;
}
.red_btn{
	border:1px solid #3465AA;
	background-color:#fff;
	color:#3465AA;
} 
.archive_date {
	text-align: center;
	color: #fff;
	margin-right:0px;
	margin-top:-4px;
	padding: 16px;
	padding-bottom: 35px;
	background-color:#fff;
	border:1px solid #DADADA;
}
.no-padding{
	padding: 0px;
}
 .event-info {
	line-height: 22px;
	font-size: 14px;
	padding: 0px;
	float: right;
	margin-top: -78px;
	margin-left: 70px;
} 
.event-info a{
	text-decoration:none;
} 
.event_news {
	margin-bottom: 12px;
	border: 1px solid #DADADA;
	background-color:#fff;
	padding: 0px;
	margin:0px;
}
.archive_news {
	margin-bottom: 12px;
	border: 1px solid #DADADA;
	padding: 0px;
	margin:0px;
}
.read_button {
	border: 1px solid #DADADA;
	text-align: right;
	padding: 15px;
	background-color:#fff;
}
/* bloger img */
.bloger_img img {
	width: 100%;
	height: auto;
	border:1px solid #DADADA;
	margin-bottom:7px;
}
.memeber{
	margin-bottom:20px;
} 
.memeber h3 {
	margin: 40px 15px 5px;
}
.post_img img {
	width: 100%;
	height: 120px;
	border: 1px solid #DADADA;
}
.blog_link{
	color:#000;
}
.post_link{
	/* margin-top:15px; */
}
.catagory{
	background-color:#fff;
}
.new_post {
	margin: 18px 0 25px;
}
/* .Latest_news:hover img {
	opacity: 1;
	transform: scale(1.05,1.07);
	transition-timing-function: ease-in;
	transition-duration: 250ms;
	transform: scale(1.05,1.07);
	transition-timing-function: ease-out;
	transition-duration: 250ms;
} */
.new_event {
	/* margin-top: 60px; */
	/* float:right; */
}
.blogers_title {
	margin-top: 20px;
}
.blogers_title img{
	width:100px;
	height:80px;
	border:1px solid #ddd;
}
.bloger_button {
	/* margin-left: 430px;
	margin-bottom:20px; */
}
.event_heading {
	margin: 25px -2px;
}
.event_archive {
	margin-top: -63px;
}
.no-padding{
	padding:0px;
}
.horizantal_bar {
	padding: 45px 0px;
}
.hrb {
	margin-top: 35px;
}
.descriptio_heading {
	background: #F8F8F8;
	border:1px solid #DADADA;
}
.container_12 {
	margin: 0px auto;
	width: 1240px;
}
.descriptio_pr {
	padding: 32px 38px;
}
.on-padding{
	padding-right:0px;
}
.hr_br {
	border: 1px solid gray;
	margin: -20px 294px 0 125px;
}
.events_top {
	margin-bottom: 35px;
}
.event_ps h3 {
	float: right;
	margin: -15px 194px;
}
.hr_brs {
	border: 1px solid gray;
	width: 5%;
	float: right;
	margin: -2px 122px 0px 11px;
}
.bloag_Archive{
	margin-top: -16px;
	float:right;
	margin-right:17px;
}
.event_ber{
	padding-right:9px;
}
.archiv{
	float:right;
	width:100%;
}
.archiv li {
	font-size: 18px;
	width: 50%;
}
.archiv li.active a {
    outline: 0 !important;
}
#new_members{
	/* background-image:url(../images/background.png);
	width:auto;
	min-height:462px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover; */
	margin-top:50px;
	background-color:#F8F8F8;
}
.mem_bg{
	background-color:#fff;
}
#ber {
	margin-top: 45px;
}
.new_post a {
	text-decoration: none;
}
.memeber img{
	margin-left:15px;
}
.post_bloger{
	text-align:justify;
	border:1px solid #DADADA;
	padding: 9px;
	height:435px;
}
.post_bloger img{
	width:235px;
	height:150px;
}
#post {
	margin: 45px;
}
.post_blg h3 {
	margin: 10px 15px 12px;
}
.post_blg img{
	margin: 0px 15px 35px;
}
.post_read {
	text-align: right;
	font-style: italic;
	color: #286090;
}
.post_bloger a{
	text-decoration:none;
}
/* end home page */
/* blog detail start */
.details_post h3{
	font-style:italic;
	font-weight:bold;
	color:#010808;
}
#details_header{
	background-image:url(../images/Blog-Banner-4.jpg);
	width:100%;
	min-height:400px;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}

.details_heading_img {
	float: right;
	margin-top: 25px;
	color: #fff;
	text-align: center;
}
.details_heading_img a{
	text-decoration:none;
	color:#fff;
}
.details_heading_img img{
	width:100px;
	height:auto;
}
.details_heading_img h5 {
	font-weight: bold;
	font-size: 14px;
}
.details_heading_img h4 {
	font-weight: bold;
}
.hight_header {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-style: italic;
	margin-top: 75px;
}
.hight_post {
	margin-top: 25px;
	margin-bottom: 50px;
	text-align: justify;
}
.details_post {
	margin: 67px 0px 25px;
	text-align: justify;
}

.uper_text {
	color: #696767;
	font-size: 37px;
	padding: 0px 10px 0px 0px;
	font-weight: bold;
}
/* .details_post_design{ */
	/* padding: 10px 15px; */
	/* font-style: italic; */
	/* border-left: 2px solid #9595f3; */
	/* margin-left: 30px; */
/* } */
.icon {
	float: right;
	margin-top: 155px;
}
.icon img {
	margin: 0px 9px;
}
.related_pst{
	margin: 33px 15px;
}
.related_post p {
	margin-top: 10px;
}
.related_post img{
	border:1px solid gray;
	transition:1s;
	height:250px;
}
/* .related_post img:hover{
	transform:scale(.7);
} */
.details_btn{
	margin-bottom:10px;
}
/* isotop start */


#protfolio{
	padding:100px 0 0;
	background-color:#F8F8F8;
}

.isotopo_botton {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #000;
  border: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
  margin-bottom:40px;
  text-transform:uppercase;
  outline:none;
}

.isotopo_botton:hover {
  background-color: #87d37c;
  color: #fff;
}

.isotopo_botton:active,
.istop_btn {
  background-color: #87d37c;
}

.istop_btn {
  color: white;
}

.isotopo_botton {
  border-radius: 0;
  margin-left: 0;
  margin-right: 12px;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width:25%;
  color: #262524;
  overflow:hidden;
  border:10px solid #fff;
}

.element-item img {
  width:100%;
}
/* isotop end */
.archiv_event_new {
	margin-bottom: 12px;
	padding: 14px;
	margin: 0px;
	width: 100%;
}
.archiv_event-info {
	font-size: 14px;
	float: left;
	width: 80%;
	padding-left:19px;
}
.archiv_event-info a{
	text-decoration:none;
} 
.archiv_event h4{
	margin-top: -29px;
}
.archiv_event-month{
	background: #dd3333;
}
.archiv_event-day{
	background: #3465aa;
}
.archiv_event {
	text-align: center;
	color: #fff;
	float: left;
	width: 20%;
}
/* datepicker start */
.date-field {
	margin: 15px 0;
}
.ui-datepicker {
	width: 18em !important;
}
#datepicker {
	width: 100%;
	height: 29px;
	padding: 5px;
}
span {
	margin-right: 10px;
}
/* datepicker end */
.blog_scl {
	margin-top: 12px;
	border: 1px solid #fff;
	padding: 4px 17px 5px 17px;
	background-color: #fff;
	border-radius: 5px;
}
.blog_srch{
	float:right;
	margin-right: -15px;
}
.blog_Sr {
	padding: 6px 210px 6px 27px;
}
.profile_All_post a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
	line-height: 1.9em;
	outline:none;
}
.profile_img_post img {
	height: 50%;
	border: 1px solid #999;
}
.profile_blogheading_post {
	text-align:justify;
}
.profile_blogheading_post a{
	text-decoration:none;
	outline:none;
}
.proflie_read_more a {
	float: right;
	text-decoration: none;
}
.profile_img_post {
	margin-top: 30px;
}
.profile_All_post {
	margin-top: 40px;
	border: 1px solid #DADADA;
	padding: 20px 20px;
}
.profile_from {
	margin-top: 10px;
	padding: 6px 150px 6px 25px;
	border-radius: 0px;
}
.profile_modal{
	margin-top:235px;
}
.forgate_pass a {
	text-decoration: none;
	color: #12759D;
}
.forgate_pass a:hover {
	color: #4C9ED9;
}
.forgate_pass{
	margin-top:10px;
}
.profile_btn{
	margin-top:-8px;
	padding: 6px 25px 6px 25px;
}
.profile_pagination{
	float:right;
}
.profile_email{
	margin-bottom: 15px;
}
.profile_forgate_btn{
	margin-top:10px;
}
.profile_forgate_btn a{
	text-decoration:none;
	outline:none;
}
.profile_modal-footer {
	padding: 0px 15px 9px;
	text-align: right;
}
.profile_modal-body {
	position: relative;
	padding: 15px 15px 1px;
}
.modal-dialog {
	width: 450px;
	margin: 30px auto;
}
.blog_prfl{
	margin-top:40px;
}
.profile_detail {
	/* text-align: center;
	margin: 90px 0px; */
}
.profile_img img{
	width:100px;
	height:100px;
	border:1px solid #999;
}
.no-padding{
	padding:0px;
}

a {
	outline:none;
}
a:focus{
	outline:none;
}

/*New Design Style*/
.form-control:focus {
	border-color: #DADADA;
	outline: 0;
	box-shadow:0 0 0 0 ;
}
.relative{
	position: relative;
}
.btn {
	border-radius: 0px;
}
.common_btn {
	border-radius: 0 !important;
	color: #fff;
}
.common_textarea{
	resize:none;
}
/* .user_comment_btn {
	position: absolute;
	bottom: 7px;
	right: 7px;
} */
.user_comment_btn {
	float: left;
	margin-top: 7px;
}
/* after_login_profile */
.profile_Latest_news img{
	width:255px;
	height:240px;
}
/* .profile_new_post {
	margin-top: 20px;
} */
#aftar_login_description {
	/* padding: 50px;
	margin-top: -30px; */
}
.aftar_login_pr h3 {
	margin: 25px 15px;
}
.aftar_login_heading {
	margin-top: 40px;
}
.profile_new_post a {
	text-decoration: none;
}
.profile_post_img img{
	width:70px;
	height:70px;
}
.profile_post_img {
	margin-top: 45px;
}
.login_post_aria{
	padding:0px 15px;
}


/* for monthly benefit */
#monthly_benefit_biggest_brand {
	background-image:url('../images/Monthly-Benefit-middlebg.png');
	background-repeat:no-repeat;
	background-size:cover;
	height:385px;
	width:100%;
	background-position:center center;
	margin-top:30px;
}
#footer_monthly_benefit{
	background-image:url('../images/Monthly-Benefit-footerbg.png');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	height:427px;
	width:100%;
}
#monthly_benefit_header_part{
	background-image:url(http://placehold.it/1600x450);
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	height:450px;
	position:relative;
}
.btn_monthly_benefit{
	border:1px solid #a58d32;
	padding: 5px 26px;
	border-radius: 6px;
	margin-left: 58px;
	font-size: 16px;
	color:#000;
}
.btn_monthly_benefit:hover{
	background-color:#a58d32;
}
.btn_landing_view_mony_max{
	border: 1px solid #a58d32;
	padding: 6px 23px;
	border-radius: 5px;
	color:#000;
}
.btn_landing_view_mony_max:hover{
	background-color:#a58d32;
	color:#fff;
}
.btn_landing_view2_mony_max{
	border: 1px solid #fff;
	padding: 6px 23px;
	border-radius: 5px;
	color:#fff;
}
.btn_landing_view2_mony_max:hover{
	background-color:#fff;
	color:#000;
}
.btn_landing_mony_max_start{
	border: 1px solid #a58d32;
	padding: 6px 35px;
	border-radius: 6px;
	font-size: 16px;
	color:#000;
}
.btn_landing_mony_max_start:hover{
	background-color:#a58d32;
	color:#ffffff;
}
#monthly_benefit_header{
	 background-image:url( http://placehold.it/1600x320 );
	 background-repeat:no-repeat;
	 background-size:cover;
	 background-position:center center;
	 width:100%;
	 height:320px;
	 position:relative;
 }