.dataTables_wrapper table tr th:first-child{
       width: 30px;
   }
.dataTables_wrapper table tr th:last-child{
    width: 100px;
}

.edit{
    padding-left: 30%;
}
.delete{
    padding-left: 20%;
}
.red{
    color: #c5000b;
}


.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.huge {
    font-size: 40px;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}

.panel-green {
    border-color: #356e35;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-primary {
    border-color: #3276b1;
}

.panel-red {
    border-color: #a90329;
}
.panel-red > a:hover {
    color: #b52b27;
}

.panel-red > a {
    color: #d9534f;
}

.panel-skyblue {
    border-color: #7584a9;
}
.panel-skyblue > a:hover {
    color: #7584a9;
}

.panel-skyblue > a {
    color: #7584a9;
}

.panel-skyblue > .panel-heading {
    border-color: #7584a9;
    color: white;
    background-color: #7584a9;
}

.panel-firoza {
    border-color: #26a9a7;
}
.panel-firoza > a:hover {
    color: #26a9a7;
}

.panel-firoza > a {
    color: #26a9a7;
}

.panel-firoza > .panel-heading {
    border-color: #26a9a7;
    color: white;
    background-color: #26a9a7;
}

.panel-aqua {
    border-color: #17dcff;
}
.panel-aqua > a:hover {
    color: #17dcff;
}

.panel-aqua > a {
    color: #17dcff;
}

.panel-aqua > .panel-heading {
    border-color: #17dcff;
    color: white;
    background-color: #17dcff;
}

.panel-olive {
    border-color: #9f9f2d;
}
.panel-olive > a:hover {
    color: #9f9f2d;
}

.panel-olive > a {
    color: #9f9f2d;
}

.panel-olive > .panel-heading {
    border-color: #9f9f2d;
    color: white;
    background-color: #9f9f2d;
}



.panel-deepgreen {
    border-color: #666600;
}
.panel-deepgreen > a:hover {
    color: #666600;
}

.panel-deepgreen > a {
    color: #666600;
}

.panel-deepgreen > .panel-heading {
    border-color: #666600;
    color: white;
    background-color: #666600;
}